<!DOCTYPE html>
<html ng-app="onload">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bunny POS</title>
		
		<link href="ASSETS/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<link href="ASSETS/css/customstyle2.css" rel="stylesheet" type="text/css" />
		<link href="ASSETS/css/angucomplete-alt.css" rel="stylesheet" type="text/css" />
		<link href="ASSETS/bootstrap/css/bootstrap-social.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="./ASSETS/js/dialog/ngDialog.min.css" >
		<link rel="stylesheet" type="text/css" href="./ASSETS/bootstrap/css/font-awesome/css/font-awesome.min.css" >
		<link rel="stylesheet" type="text/css" href="./ASSETS/js/dialog/ngDialog-theme-plain.min.css">
		<link rel="stylesheet" type="text/css" href="./ASSETS/js/dialog/ngDialog-theme-default.min.css">
		<link rel="stylesheet" type="text/css" href="./ASSETS/js/dialog/ngDialog-custom-width.css">

		<link rel="stylesheet" type="text/css" href="./ASSETS/js/notification/angular-ui-notification.min.css" >
		<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/4.17.37/build/css/bootstrap-datetimepicker.min.css">
	</head>
	<body ng-controller="HomeController" style="padding-top: 60px;
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand"><b>&nbspBunny POS &trade;</b></a>	
				</div>
				<div id="navbar" class="navbar-collapse collapse" style="margin-top:5px;">
					<ul class="nav navbar-nav">
						<li><a href="#/Sales"><span class="fa fa-money" aria-hidden="true"></span>&nbspCashier</a></li>
						<li ng-if="user.user_type == 1">
							<div class="dropdown">
							<p style="cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown"><i style="margin-top:18px;" class="fa fa-cogs"></i> Admin
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li ng-if="user.user_type == 1"><a href="#/Admin"><i  class="fa fa-cogs"></i>&nbspControl Panel</a></li>
								<li  ng-if="user.user_type == 1"><a href="#/Report"><i class="fa fa-line-chart"></i>&nbspSales Report</a></li>
								<li  ng-if="user.user_type == 1"><a href="#/ReceiptBackup"><i class="fa fa-list-alt"></i>&nbspReceipt Back-up</a></li>
								<li  ng-if="user.user_type == 1"><a href="#/BestSelling"><i class="fa fa-star"></i>&nbspBest Selling Products</a></li>
							</ul>
							</p>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					 	<li><a href="" title="You are login as this User">{{user.first_name + " " + user.middle_name + " " + user.last_name}}</a></li>
			           <li><a href="" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i>&nbspLogOut</span></a></li>
			        </ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="jumbotron" ng-view="">
			</div>
			<hr>
		</div>
		<footer class="footer">
			<div class="container">
				<p class="text-muted">&copy; AOMOS & CHRS 2017</p>
			</div>
		</footer>
  		<script src="ASSETS/js/jquery.min.js"></script>
		<script src="ASSETS/bootstrap/js/bootstrap.min.js"></script>

		<script src="ASSETS/angular/angular.min.js"></script>
		<script src="ASSETS/angular/angular-route.min.js"></script>
		<script src="ASSETS/angular/angular-cookies.min.js"></script>
        <script src="ASSETS/angular/angular-md5.js"></script>   
        <script src="ASSETS/angular/angular-date.js"></script>
		
		<script src="JS/module.js"></script>
		
		<script src="JS/CONTROLLERS/homecontroller.js"></script>
		<script src="JS/CONTROLLERS/bucketcontroller.js"></script>
		<script src="JS/CONTROLLERS/reports.js"></script>
		<script src="JS/CONTROLLERS/product.js"></script>
		<script src="JS/directives/isNumber.js"></script>

		<script src="JS/FACTORIES/SessionFactory.js"></script>
		<script src="JS/FACTORIES/UserFactory.js"></script>
		<script src="JS/FACTORIES/ProductFactory.js"></script>

		<script src="./ASSETS/js/dialog/ngDialog.js"></script>
		<script src="./ASSETS/js/bootstrap-notify.js"></script>
		<script src="./ASSETS/js/angucomplete-alt.js"></script>
		<script src="./ASSETS/js/uploader/angular-file-upload.min.js"></script>
		<script src="./ASSETS/js/notification/angular-ui-notification.min.js"></script>
		<script src="ASSETS/angular/bootstrap-ui.js"></script>
		<script src="./ASSETS/js/moment.min.js"></script>
    	<script src="ASSETS/angular/angular-date2.js"></script>

	</body>
</html>
