<div class="page-title">
	<div class="title_left">
		<h3 class="slideinmargin">
			Inventory Section
		</h3>
	</div>
</div>
<div class="clearfix"></div>
<div style="margin-top:10px;"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row" style="margin-top:-10px;">
				<div class="form-group col-md-2">
					<input type="text" class="form-control" placeholder="Product Name" ng-model="form.product_name"/>
				</div>
				<div class="form-group col-md-2">
					<input type="text" class="form-control" is-Number placeholder="Bar Code" ng-model="form.product_bar_code"/>
				</div>
				<div class="form-group col-md-2">
					<input type="text" class="form-control" is-Number placeholder="Stocks" ng-model="form.product_stocks"/>
				</div>
				<div class="form-group col-md-2">
					<input type="text" class="form-control" is-Number placeholder="Supplier Price" ng-model="form.srp"/>
				</div>
				<div class="form-group col-md-2">
					<input type="text" class="form-control" placeholder="Market Price" ng-model="form.product_price"/>
				</div>
				<div class="form-group col-md-2">
					<select ng-model="form.product_supplier" class="form-control">
						<option value="" disabled selected style="display:none"> Select Supplier </option>
						<option ng-repeat="v in supplier_data" value="{{v.supplier_code_name}}">{{v.supplier_name}}</option>
					</select>
				</div>
				<div class="form-group col-md-2">
					<div class="form-group">
						<div class='input-group  date' datetimepicker ng-model="form.product_expiration" id='datetimepicker1' >
							<input type='text'  placeholder="Exp. Date" class="form-control" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group col-md-2">
					<input type="text" class="form-control" max-length="17"  placeholder="Receipt Name" ng-model="form.receipt_name"/>
				</div>
				<div class="form-group col-md-2">
					<select ng-model="form.product_status" class="form-control">
						<option value="" disabled selected style="display:none"> Select Status</option>
						<option value="1">New</option>
						<option value="(NEW/OLD)">New with old product</option>
					</select>
				</div>
				<div class="form-group col-md-2">
					<select ng-model="form.product_status_pk" ng-show="form.product_status == '(NEW/OLD)' " class="form-control">
						<option value="" disabled selected style="display:none"> Select Product </option>
						<option ng-repeat="v in product_data" value="{{v.pk}}">{{v.product_name+" "+v.product_status}}</option>
					</select>
				</div>
				<div class="form-group col-md-2">
					<input type="button" class="btn btn-success" value="Add Item" ng-click="add_product()">
				</div>
			</div>
		</div>
	</div>
			<div >
			<input type="text" class="form-control" style="width:250px;" ng-change="search()" placeholder="Search Item" ng-model="form.search"/>
			</div>


	<div class="panel">
		<div class="panel-body">
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<table class="table table-hover">
				<thead>
					<tr >
						<th>#</th>
						<th>Product Name</th>
						<th>Receipt Name</th>
						<th>Status</th>
						<th>Supplier Code Name</th>
						<th># of Stocks</th>
						<th>Supplier Price</th>
						<th>Amount with VAT</th>
						<th>Retail Price</th>
						<th>Bar Code</th>
						<th>Date Encoded</th>
						<th>Product Expiration</th>
						<th>Option</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(k,v) in product_data.slice(((currentPage_productdata-1)*itemsPerPage_productdata), ((currentPage_productdata)*itemsPerPage_productdata))">
						<th scope="row">{{v.number}}</th>
						<td>{{v.product_name}}</td>
						<td>{{v.product_receipt_name}}</td>
						<td>{{v.product_status}}</td>
						<td>{{v.product_supplier}}</td>
						<td>{{v.product_stocks}}</td>
						<td>{{v.product_srp}}</td>
						<td>{{v.wamount3}}</td>
						<td>{{v.product_price}}</td>
						<td>{{v.product_bar_code}}</td>
						<td>{{v.date_created | date :  "medium" }}</td>
						<td>{{v.product_product_expiration | date :  "medium"}}</td>
						<td>&nbsp&nbsp<i class="fa fa-pencil" aria-hidden="true" style="cursor:pointer" ng-click="edit_product_data(v)"  title="Edit"></i>
							<i class="fa fa-trash" aria-hidden="true" style="cursor:pointer" ng-click="delete_product_data(v)"  title="Delete"></i>
							<i class="fa fa-shopping-cart" ng-if="v.product_stocks == 0" aria-hidden="true" style="cursor:pointer" ng-click="request_product_order(v)"  title="Request"></i>
						</td>
</tr><!-- 
<tr ng-if="!request_points.status">
<td colspan="6" style="text-align: center;">No Data Found</td>
</tr> -->
</tbody>
</table>
</div>
</div>

</div>
</div>
</div>


<div class="row">
	<div class="col-md-12">
		<center>
			<pagination total-items="totalItems_productdata" ng-model="currentPage_productdata" ng-change="pageChanged_productdata()" class="pagination-md" items-per-page="itemsPerPage_productdata"></pagination>
		</center>
	</div>
</div>
</div>

<div class="page-title">
	<div class="title_left">
		<h3 class="slideinmargin">
			Supplier Detail Section
		</h3>
	</div>
</div>
<div class="clearfix"></div>
<div style="margin-top:10px;"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row" style="margin-top:-10px;">
				<div class="form-group col-md-2">
					<input type="text" class="form-control" placeholder="Registered Name" ng-model="form.supplier_name"/>
				</div>
				<div class="form-group col-md-2">
					<input type="text" class="form-control" placeholder="Company Address" ng-model="form.supplier_address"/>
				</div>
				<div class="form-group col-md-2">
					<input type="text" class="form-control" is-Number placeholder="Contact Number" ng-model="form.supplier_contact_number"/>
				</div>
				<div class="form-group col-md-2">
					<input type="text" class="form-control" placeholder="Contact Person" ng-model="form.supplier_contact_person"/>
				</div>
				<div class="form-group col-md-2">
					<input type="text" class="form-control" placeholder="Code Name" ng-model="form.supplier_code_name"/>
				</div>
				<div class="form-group col-md-2">
					<input type="button" class="btn btn-success" value="Add Supplier" ng-click="add_supplier()">
				</div>
			</div>
		</div>
	</div>

	<div >
			<input type="text" class="form-control" style="width:250px;" ng-change="search_supplier()" placeholder="Search Supplier" ng-model="form.search_supplier1"/>
			</div>

	<div class="panel">
		<div class="panel-body">
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<table class="table table-hover">
				<thead>
					<tr >
						<th>#</th>
						<th>Supplier Name</th>
						<th>Address</th>
						<th>Contact Number</th>
						<th>Contact Person</th>
						<th>Code Name</th>
						<th>Date Encoded</th>
						<th>Option</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(k,v) in supplier_data.slice(((currentPage_supplierdata-1)*itemsPerPage_supplierdata), ((currentPage_supplierdata)*itemsPerPage_supplierdata))">
						<th scope="row">{{v.number}}</th>
						<td>{{v.supplier_name}}</td>
						<td>{{v.supplier_address}}</td>
						<td>{{v.supplier_contact_number}}</td>
						<td>{{v.supplier_contact_person}}</td>
						<td>{{v.supplier_code_name}}</td>
						<td>{{v.date_created | date :  "medium" }}</td>
						<td>&nbsp&nbsp<i class="fa fa-pencil" aria-hidden="true" style="cursor:pointer" ng-click="edit_supplier_data(v)"  title="Edit"></i>
							<i class="fa fa-trash" aria-hidden="true" style="cursor:pointer" ng-click="delete_supplier_data(v)"  title="Delete"></i>
						</td>
</tr><!-- 
<tr ng-if="!request_points.status">
<td colspan="6" style="text-align: center;">No Data Found</td>
</tr> -->
</tbody>
</table>
</div>
</div>

</div>
</div>
</div>


<div class="row">
	<div class="col-md-12">
		<center>
			<pagination total-items="totalItems_supplierdata" ng-model="currentPage_supplierdata" ng-change="pageChanged_supplierdata()" class="pagination-md" items-per-page="itemsPerPage_supplierdata"></pagination>
		</center>
	</div>
</div>
</div>


<div class="page-title">
	<div class="title_left">
		<h3 class="slideinmargin" ng-show="user.user_id == '2014000100' ">
			Request Product Order List
		</h3>
	</div>
</div>
<div class="clearfix"></div>
<div style="margin-top:10px;"></div>
<div class="container" ng-show="user.user_id == '2014000100' ">
	<div class="panel">
		<div class="panel-body">
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<table class="table table-hover">
				<thead>
					<tr ng-show="user.user_id == '2014000100' ">
						<th>#</th>
						<th>Product Name</th>
						<th>Product Number</th>
						<th>Product Quantity</th>
						<th>Product Market Price</th>
						<th>Product Date Needed</th>
						<th>Status</th>
						<th>Option</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-show="user.user_id == '2014000100' " ng-repeat="(k,v) in request_data.slice(((currentPage_orderdata-1)*itemsPerPage_orderdata), ((currentPage_orderdata)*itemsPerPage_orderdata))">
						<th scope="row">{{v.number}}</th>
						<td>{{v.product_name}}</td>
						<td>{{v.product_finalnumber}}</td>
						<td>{{v.product_quantity}}</td>
						<td>{{v.product_market_price}}</td>
						<td>{{v.product_date_needed | date :  "medium" }}</td>
						<td>{{v.status}}</td>
						<td>&nbsp&nbsp<i class="fa fa-thumbs-up" ng-if="v.status == 'Pending' " aria-hidden="true" style="cursor:pointer" ng-click="approve_order_request(v)"  title="Approve"></i>
							<i class="fa fa-thumbs-down" ng-if="v.status == 'Pending' " aria-hidden="true" style="cursor:pointer" ng-click="disapprove_order_request(v)"  title="Disapprove"></i>
						</td>
</tr><!-- 
<tr ng-if="!request_points.status">
<td colspan="6" style="text-align: center;">No Data Found</td>
</tr> -->
</tbody>
</table>
</div>
</div>

</div>
</div>
</div>


<div class="row">
	<div class="col-md-12" ng-show="user.user_id == '2014000100' ">
		<center>
			<pagination total-items="totalItems_orderdata" ng-model="currentPage_orderdata" ng-change="pageChanged_orderdata()" class="pagination-md" items-per-page="itemsPerPage_orderdata"></pagination>
		</center>
	</div>
</div>
</div>

<script type="text/ng-template" id="RequestOrderDataModal">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#0c79be;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
        <div style="margin-left:13px;">
          Purchase Order Number <input disabled type="text" style="width:350px;" class="form-control" ng-model="modal.finalnumber">
        </div>
        <div style="margin-left:13px;margin-top:10px;">
          Quantity <input type="text" is-Number style="width:300px;" class="form-control" ng-model="modal.product_quantity">
        </div>
        <div style="margin-left:13px;margin-top:10px;">
          Date Needed 
          <div class='input-group  date' style="width:300px;" datetimepicker ng-model="modal.product_date_needed" id='datetimepicker1' >
           <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
             </span>
        </div>
      </div>
    <div style="margin-left:13px;margin-top:10px;">
          Supplier Price <input type="text" is-Number style="width:300px;" class="form-control" ng-model="modal.product_market_price">
        </div>
  	</div>
  <div class="ngdialog-buttons" style="margin-top:20px;">
    <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-trash"> </i> {{modal.save}}</button>
 </div>
</div>
  </br>
</script>

<script type="text/ng-template" id="InputPinModal">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#0c79be;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
        <div style="margin-left:13px;">
          PIN CODE <input type="password" style="width:350px;" class="form-control" ng-model="modal.pin">
        </div>


  <div class="ngdialog-buttons" style="margin-top:20px;">
    <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-trash"> </i> {{modal.save}}</button>
  </div>
  </br>
</script>

<script type="text/ng-template" id="EditMyProfile">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#0c79be;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
        <div style="margin-left:13px;">
          Product Name <input type="text" style="width:100%;" class="form-control" ng-model="modal.product_name">
        </div>
        <div style="margin-left:13px;">
          Item Bar Code <input type="text" style="width:100%;" is-Number class="form-control" ng-model="modal.product_bar_code">
        </div>
        <div style="margin-left:13px;">
          Stocks <input type="text" style="width:100%;" is-Number class="form-control" ng-model="modal.product_stocks">
        </div>
        <div style="margin-left:13px;">
          Standard Retail Price <input type="text" is-Number style="width:100%;" class="form-control" ng-model="modal.product_srp">
        </div>
        <div style="margin-left:13px;">
          Market Price <input type="text" is-Number style="width:100%;" class="form-control" ng-model="modal.product_price">
        </div>
        <div style="margin-left:13px;">
          Supplier 
							<select style="width:100%;" ng-model="modal.product_supplier" class="form-control">
								<option value="" disabled selected style="display:none"> Select Supplier </option>
								<option ng-repeat="v in supplier_data" value="{{v.supplier_code_name}}">{{v.supplier_name}}</option>
							</select>
        </div>
        <div style="margin-left:13px;">
          Exp. Date 
          <div class='input-group  date' style="width:270px;" datetimepicker ng-model="modal.product_expiration" id='datetimepicker1' >
           <input type='text'  placeholder="Exp. Date" class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
             </span>
        </div>
      </div>
      <div style="margin-left:13px;">
          Receipt Name <input type="text" max-length="17"  style="width:100%;" class="form-control" ng-model="modal.receipt_name">
        </div>
    <br>


  <div class="ngdialog-buttons" style="margin-top:20px;">
    <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-upload"> </i> {{modal.save}}</button>
  </div>
  </br>
</script>

<script type="text/ng-template" id="EditSupplierData">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#0c79be;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
        <div style="margin-left:13px;">
          Supplier Name <input type="text" style="width:100%;" class="form-control" ng-model="modal.supplier_name">
        </div>
        <div style="margin-left:13px;">
          Supplier Address <input type="text" style="width:100%;" class="form-control" ng-model="modal.supplier_address">
        </div>
        <div style="margin-left:13px;">
          Supplier Contact Number <input type="text" is-Number style="width:100%;" class="form-control" ng-model="modal.supplier_contact_number">
        </div>
        <div style="margin-left:13px;">
          Supplier Contact Person <input type="text" style="width:100%;" class="form-control" ng-model="modal.supplier_contact_person">
        </div>
        <div style="margin-left:13px;">
          Supplier Code Name <input type="text" style="width:100%;" class="form-control" ng-model="modal.supplier_code_name">
        </div>
    <br>


  <div class="ngdialog-buttons" style="margin-top:20px;">
    <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-upload"> </i> {{modal.save}}</button>
  </div>
  </br>
</script>

<script type="text/javascript">
            $(document).ready(function () {
                $('#datetimepicker1').datetimepicker({
                	format: 'MM/DD/YYYY'
                });
            });
        </script>

<script type="text/ng-template" id="MyPointsModal">
<div class="ngdialog-message" style="width: 500px;">
<div style="margin-top: -15px;">
<h3><span style="color:#0c79be;">{{ modal.title }}</span></h3>

</div>
<div>
<table style="width: 85%;">
<thead>
<tr>
<td>
<input type="text" class="form-control" is-Number maxlength="7" placeholder="2000" ng-model="form.request_points" />
</td>
</tr>
</thead>
</table>
</div>
</div>
<div class="ngdialog-buttons">
<button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
<button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-check-square-o"> </i> {{modal.save}}</button>
</div>
</script>