<div class="page-title">
  <div class="title_left">
    <h3 class="slideinmargin">
      Receipt Back-Up
    </h3>
  </div>
</div>
<div class="clearfix"></div>
<div style="margin-top:10px;"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row" style="margin-top:-10px;">
        <div class="form-group col-md-4">

        </div>
        <div class="form-group col-md-4" style="margin-top:-20px;">
          Date From: <input datetimepicker class="form-control" ng-model="form.sales_from" type="text" id="datetimepicker1" style="width:120px;"/>
        </div>
        <div class="form-group col-md-4" style="margin-left:-100px;margin-top:-20px;">
          To: <input datetimepicker class="form-control" ng-model="form.sales_to" type="text" id="datetimepicker2" style="width:120px;"/>
        </div>
        <input value="Find" type="button" class="btn" ng-click="get_receipts()" style="color: #ffffff; background-color: #800080; border-color: #130269;">
      </div>
    </div>
  </div>
</div>


<div class="panel">
  <div class="panel-body">
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-hover">
      <thead>
        <tr >
          <th>Transaction Number</th>
          <th>Date Tendered</th>
        </tr>
      </thead>
      <tbody>
        <!-- <input type="button" style="margin-left:870px;" ng-if="receipts_data_status == true" class="btn btn-danger" value="Download PDF" ng-click="print_pdf()"> -->
        <tr ng-repeat="v in receipts_data.slice(((currentPage_receipts_data-1)*itemsPerPage_receipts_data), ((currentPage_receipts_data)*itemsPerPage_receipts_data)) track by $index" ng-if="receipts_data_status">
          <td>{{v.product_transaction_number}}</td>
          <td>{{v.date_created | date :  "medium" }}</td>
          <td><i class="fa fa-eye" aria-hidden="true" style="cursor:pointer" ng-click="ViewReceiptModal(v)" title="View Receipt"></i></td>
        </tr>
<!-- <td>&nbsp&nbsp<i class="fa fa-pencil" aria-hidden="true" style="cursor:pointer" ng-click="edit_product_data(v)"  title="Edit"></i>
<i class="fa fa-shopping-cart" ng-if="v.product_stocks == 0" aria-hidden="true" style="cursor:pointer" ng-click="request_product_order(v)"  title="Request"></i>
</td> -->
<tr ng-if="receipts_data_status == false">
  <td colspan="6" style="text-align: center;">No Data Found</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <center>
      <pagination total-items="totalItems_receipts_data" ng-model="currentPage_receipts_data" ng-change="pageChanged_receipts_data()" class="pagination-md" items-per-page="itemsPerPage_receipts_data"></pagination>
    </center>
  </div>
</div>
</div>


	<script type="text/javascript">
            $(document).ready(function () {
                $('#datetimepicker1').datetimepicker({
                  format: 'MM/DD/YYYY'
                });
                $('#datetimepicker2').datetimepicker({
                  format: 'MM/DD/YYYY'
                });
            });
        </script>

<script type="text/ng-template" id="ViewReceiptModal">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#0c79be;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
              <tr >
                <th style="font-size:10px;">Cashier Name</th>
                <th style="font-size:10px;">Product Name</th>
                <th style="font-size:10px;">Product Quantity</th>
                <th style="font-size:10px;">Supplier Price</th>
                <th style="font-size:10px;">Retail Price</th>
                <th style="font-size:10px;">Discount</th>
                <th style="font-size:10px;">Voided Items</th>
                <th style="font-size:10px;">Transaction Number</th>
                <th style="font-size:10px;">Date Tendered</th>
                <th style="font-size:10px;">Total</th>
              </tr>
            </thead>
            <tbody>
                <input type="button" style="margin-left:700px;" class="btn btn-warning" value="Send Receipt" ng-click="send_receipt()">
                <input type="button" style="margin-left:830px;margin-top:-57px;" class="btn btn-danger" value="Download Receipt" ng-click="download_receipt()">
              <tr ng-repeat="(k,v) in receipts_data_back track by $index">
                <td style="font-size:10px;">{{v.first_name+ " " +v.last_name}}</td>
                <td style="font-size:10px;">{{v.product_name}}</td>
                <td style="font-size:10px;">{{v.product_quantity}}</td>
                <td style="font-size:10px;">{{v.product_supplier_price}}</td>
                <td style="font-size:10px;">{{v.product_retail_price}}</td>
                <td style="font-size:10px;">{{v.discount}}</td>
                <td style="font-size:10px;">{{v.void_count}}</td>
                <td style="font-size:10px;">{{v.product_transaction_number}}</td>
                <td style="font-size:10px;">{{v.date_created | date :  "medium" }}</td>
                <td style="font-size:10px;">{{v.tempo_total}}</td>
              </tbody>
            </table>
            <p style="margin-left:820px;margin-top:-20px;">Grand Total</p><p style="font-weight:bold;margin-top:-45px;margin-left:940px;margin-top:-33px;">{{form.final_totaaaal}}</p>
        </div>
      </div>
  <div class="ngdialog-buttons" style="margin-top:20px;">
    <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
 </div>
</div>
  </br>
</script>

<script type="text/ng-template" id="SendReceiptModal">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#0c79be;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
        <div style="margin-left:13px;">
          E-mail of the Customer <input type="text" style="width:350px;" class="form-control" ng-model="modal.email">
        </div>


  <div class="ngdialog-buttons" style="margin-top:20px;">
    <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-check-square-o"> </i> {{modal.save}}</button>
  </div>
</script>

<script type="text/ng-template" id="RequestOrderDataModal">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#0c79be;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
        <div style="margin-left:13px;">
          Purchase Order Number <input disabled type="text" style="width:350px;" class="form-control" ng-model="modal.finalnumber">
        </div>
        <div style="margin-left:13px;margin-top:10px;">
          Quantity <input type="text" is-Number style="width:300px;" class="form-control" ng-model="modal.product_quantity">
        </div>
        <div style="margin-left:13px;margin-top:10px;">
          Date Needed 
          <div class='input-group  date' style="width:300px;" datetimepicker ng-model="modal.product_date_needed" id='datetimepicker1' >
           <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
             </span>
        </div>
      </div>
    <div style="margin-left:13px;margin-top:10px;">
          Supplier Price <input type="text" is-Number style="width:300px;" class="form-control" ng-model="modal.product_market_price">
        </div>
  	</div>
  <div class="ngdialog-buttons" style="margin-top:20px;">
    <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-trash"> </i> {{modal.save}}</button>
 </div>
</div>
  </br>
</script>

<script type="text/ng-template" id="InputPinModal">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#0c79be;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
        <div style="margin-left:13px;">
          PIN CODE <input type="password" style="width:350px;" class="form-control" ng-model="modal.pin">
        </div>


  <div class="ngdialog-buttons" style="margin-top:20px;">
    <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-trash"> </i> {{modal.save}}</button>
  </div>
  </br>
</script>

<script type="text/ng-template" id="EditMyProfile">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#0c79be;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
        <div style="margin-left:13px;">
          Product Name <input type="text" style="width:200px;" class="form-control" ng-model="modal.product_name">
        </div>
        <div style="margin-left:13px;">
          Item Bar Code <input type="text" style="width:200px;" is-Number class="form-control" ng-model="modal.product_bar_code">
        </div>
        <div style="margin-left:13px;">
          Stocks <input type="text" style="width:200px;" is-Number class="form-control" ng-model="modal.product_stocks">
        </div>
        <div style="margin-left:13px;">
          Standard Retail Price <input type="text" is-Number style="width:200px;" class="form-control" ng-model="modal.product_srp">
        </div>
        <div style="margin-left:13px;">
          Market Price <input type="text" is-Number style="width:200px;" class="form-control" ng-model="modal.product_price">
        </div>
        <div style="margin-left:13px;">
          Supplier 
							<select style="width:200px;" ng-model="form.product_supplier" class="form-control">
								<option value="" disabled selected style="display:none"> Select Supplier </option>
								<option ng-repeat="v in supplier_data" value="{{v.supplier_code_name}}">{{v.supplier_name}}</option>
							</select>
        </div>
        <div style="margin-left:13px;">
          Exp. Date 
          <div class='input-group  date' style="width:270px;" datetimepicker ng-model="modal.product_expiration" id='datetimepicker1' >
           <input type='text'  placeholder="Exp. Date" class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
             </span>
        </div>
      </div>
    <br>


  <div class="ngdialog-buttons" style="margin-top:20px;">
    <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-upload"> </i> {{modal.save}}</button>
  </div>
  </br>
</script>

<script type="text/ng-template" id="EditSupplierData">
  <div class="ngdialog-message">
    <div style="margin-top: -15px;">
      <h3><span style="color:#0c79be;"><b>{{ modal.title }}<b></span></h3>

    </div>
    <div class="row">
        <div style="margin-left:13px;">
          Supplier Name <input type="text" style="width:400px;" class="form-control" ng-model="modal.supplier_name">
        </div>
        <div style="margin-left:13px;">
          Supplier Address <input type="text" style="width:200px;" class="form-control" ng-model="modal.supplier_address">
        </div>
        <div style="margin-left:13px;">
          Supplier Contact Number <input type="text" is-Number style="width:200px;" class="form-control" ng-model="modal.supplier_contact_number">
        </div>
        <div style="margin-left:13px;">
          Supplier Contact Person <input type="text" style="width:200px;" class="form-control" ng-model="modal.supplier_contact_person">
        </div>
        <div style="margin-left:13px;">
          Supplier Code Name <input type="text" style="width:200px;" class="form-control" ng-model="modal.supplier_code_name">
        </div>
    <br>


  <div class="ngdialog-buttons" style="margin-top:20px;">
    <div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
    <button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-upload"> </i> {{modal.save}}</button>
  </div>
  </br>
</script>

<script type="text/javascript">
            $(document).ready(function () {
                $('#datetimepicker1').datetimepicker({
                	format: 'MM/DD/YYYY'
                });
            });
        </script>

<script type="text/ng-template" id="MyPointsModal">
<div class="ngdialog-message" style="width: 500px;">
<div style="margin-top: -15px;">
<h3><span style="color:#0c79be;">{{ modal.title }}</span></h3>

</div>
<div>
<table style="width: 85%;">
<thead>
<tr>
<td>
<input type="text" class="form-control" is-Number maxlength="7" placeholder="2000" ng-model="form.request_points" />
</td>
</tr>
</thead>
</table>
</div>
</div>
<div class="ngdialog-buttons">
<button type="button" class="ngdialog-button ngdialog-button-secondary" data-ng-click="confirm(1)"> <i class="fa fa-times-circle"> </i> {{modal.close}}</button>
<button type="button" class="ngdialog-button ngdialog-button-primary" data-ng-click="closeThisDialog('Save')"> <i class="fa fa-check-square-o"> </i> {{modal.save}}</button>
</div>
</script>